div#favorite {
    opacity: 0;
    display: none;
    height: 100%;
}

div#favorite.show {
    opacity: 1;
    display: block;
}


div#favorite.show div {
    margin: 0 auto;
}

div#favorite.show div div.col-12 {
    margin: 1em 0;
    padding: 0;
}